<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>React Concepts</title>
    <link href="../public/bootstrap.min.css" rel="stylesheet">
    <link href="../public/index.css" rel="stylesheet">
    <link href="../public/full.css" rel="stylesheet">
    <script src="../public/bootstrap.min.js"></script>
</head>
<body>
<div class="jumbotron">
    <div id="test"></div>

    <h1>CSIN3</h1>

    <p>Keep up with the cohorts here</p>

    <p><a class="btn btn-primary btn-lg" href="https://sites.google.com/site/csitin3/" role="button">Learn more about
        the program</a></p>

    <script src="../bundle.js" type="text/javascript" charset="UTF-8"></script>
</div>
</body>
</html>